.portfolioCard{
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin: 10px 0;
    border: none !important;
    justify-content: center !important;
}

.portfolioCard::before{
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    background: rgba(24, 23, 23, 0.9) !important;
    position: absolute;
    z-index: 555;
    transition: .2s all;
}

.portfolioCard:hover::before{
    height: 100%;
    }

.portfolioCard:hover .hoverStyle{
    color: #ffffff;
    position: absolute;
    z-index: 556;
}

.cardImg{
    position: absolute;
    top: 0;
}

.btn-custom-demoLink:hover{
    color: #ff99337c !important;
    background: transparent !important;
    border: 1px solid #ff9933 !important;
}